.MemoryGame{
    position: relative;
    margin-top: 5vh;
    padding-top: 5vh;
    color: var(--light-bg);
}
.MemoryGame .navBack{
    color: var(--light-bg) !important;
}
/* .MemoryGame-titleAndInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    width: 95vw;
    margin: auto;
} */
.MemoryGame h1{
    position: absolute;
    top: 0px;
    left: 5%;
    color: var(--light-bg);
}
@media(width > 700px){
    .MemoryGame{
        margin-top: 5vh;
        padding-top: 7vh;
    }
}