.Board {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 630px;
    gap: 10px;
}

.Board .score{
    display: flex;

}

.Board .grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    background-color: burlywood;
}

.Board .grid .div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}