.PuzzleCollection{
    display: grid;
    grid-template-columns: repeat(2,35vw);
    width: 80vw;
    padding-inline: 10vw;
    gap: 10vw;
}
.PuzzleCollection-image-preview{
    position: relative;
    height: 35vw;
}
.PuzzleCollection-img{
    height: 100%;
    width: 100%;
}
.PuzzleCollection-img-skeleton{
    height: 10vw;
    width: 10vw;
}
.PuzzleCollection-puzzle-cover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: bolder;
    z-index: 2;
}

@media (width > 700px) {
    .PuzzleCollection{
        grid-template-columns: repeat(3,22vw);
        gap: 7vw;
    }
    .PuzzleCollection-image-preview{
        height: 22vw;
    }
}

@media (width > 1200px) {
    .PuzzleCollection{
        grid-template-columns: repeat(4,20vw);
        gap: 5vw;
        width: 95vw;
        padding-inline: 2vw;
        margin: auto;
    }
    .PuzzleCollection-image-preview{
        height: 20vw;
    }
}